* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#particles-js {
    height: 100%;
    background: #262626;
    overflow: hidden;
}